{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    #g7 elight abyudaya1 <br />
    celabrity layout, electronic city phase 1<br />
    banglore 560100 <br />
    <abbr title="Phone">P:</abbr>
    7416861404
</address>

<address>
    <strong>Support:</strong>   <a href="support@getmytrip.co.in">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="marketing@getmytrip.co.in">Marketing@example.com</a>
</address>

{% endblock %}
